<IfModule mod_rewrite.c>
    RewriteEngine On
    # Redirect all v1 API requests to a 404 page
    RewriteRule ^vulnerabilities/api/v1/(.*)$ /404.html [R=404,L]

    # If an existing asset or directory is requested go to it as it is
    RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -f [OR]
    RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -d
    RewriteRule ^ - [L]

    # Route all other calls through the API
    RewriteRule ^ public/index.php
</IfModule>